.errorbox{
  width: 250px;
  padding: .5rem;
  background-color: rgba(255,0,0,.6);
  display: flex;
  gap: .7rem;
  align-items: center;
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 999;
  margin-bottom: 1rem;
}

.errorboxIcon{
  color:white;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 40px;
}

.boxContent{
  color: white;
  text-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}

.boxContent h2{
  text-transform: uppercase;
}
.boxContent i{
  font-size: 15px;
}